*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Exclude system files and folders tracked by mistake from C:\ root
Users/
VoiceCapital/
VoiceTombolaAndroid/
SmorfiaTombola/
$Recycle.Bin/
Windows/
Program Files/
Program Files (x86)/
ProgramData/
*.log*
.bubblewrap/
.gradle/
.idea/
node_modules/
npm-cache/
